<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event History | Time Manager</title>
</head>
<body>
    <a href="/event_history"><= Back to Event History</a>

    <h1>Time Manager</h1>
    <h2>Edit Event History</h2>

    <div>
        <input type="date" id="selectDate" name="selectDate" placeholder=" ">
        <label for="selectDate">Select Event Date</label>
    </div>

    <h3>Name of Event</h3>

    <div>
        <label for="editResult">Add Result</label>
        <input type="text" id="editResult" name="editResult" placeholder=" ">
    </div><br>

    <div>
        <label for="editNotes">Add Notes</label>
        <input type="text" id="editNotes" name="editNotes" placeholder=" ">
    </div><br>
</body>
</html>