<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event History | Time Manager</title>
</head>
<body>
    <a href="getReady.html"><= Back to Get Ready</a>
    
    <h1>Time Manager</h1>
    <h2>Event History</h2>
    
    <a href="editEventHistory.html">Edit</a>

    <table>
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Prep</th>
            <th>Shower</th>
            <th>Get Ready</th>
            <th>Leave</th>
            <th>Drive</th>
            <th>Arrive</th>
            <th>Result</th>
            <th>Notes</th>
        </thead>
        <tbody id="eventsContainer">

        </tbody>
    </table>
    <script type="module" src="/static/js/script.js"></script>
</body>
</html>