<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Time Manager</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">

</head>
<body class="flex min-h-dvh">

    <div class="relative flex grow flex-col items-center justify-center mx-4">
        <nav class="flex justify-between items-center w-full h-[5%]">
            <header>
                <h2>Time Manager</h2>
            </header>
            <a href="/profile">Profile</a>
        </nav>
        
        <main class="relative flex w-full grow flex-col items-center mt-10">
            
            <h1 class="font-semibold text-[32px]">Get Ready</h1>
            <a class="underline mt-2.5" href="/event_history">Event History</a>

            <div class="mt-10 w-1/2 min-w-52">
                <div class="flex flex-col items-center max-w-96 md:max-w-2xl">
                    <form class="flex flex-col w-full" action="post" id="timeManager">
                        
                        <!--
                            Inputs
                        -->
                        <div class="mb-7">
                            <div class="floating-label-get-ready">
                                <input type="text" id="taskName" name="taskName" placeholder=" " required>
                                <label class="text-sm font-medium text-gray-700 absolute left-0 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[52%] peer-focus:top-0 peer-focus:text-indigo-500 peer-focus:text-sm" for="taskName">Task Name</label>
                            </div>
                        </div>
                        
                        <div class="mb-7">
                            <div class="floating-label">
                                <input type="date" id="eventDate" name="eventDate" placeholder=" " required>
                                <label class="text-sm font-medium text-gray-700 absolute left-0 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[52%] peer-focus:top-0 peer-focus:text-indigo-500 peer-focus:text-sm" for="eventDate">Date</label>
                            </div>
                        </div>
                    
                        <div class="mb-7">
                            <div class="floating-label">
                                <input type="time" id="arriveTime" name="arriveTime" placeholder=" " required>
                                <label class="text-sm font-medium text-gray-700 absolute left-0 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[52%] peer-focus:top-0 peer-focus:text-indigo-500 peer-focus:text-sm" for="arriveTime">Arrival Time</label>
                            </div>
                        </div>
                    
                        <div class="mb-7">
                            <div class="floating-label-get-ready">
                                <input type="number" id="driveTime" inputmode="numeric" name="driveTime" placeholder=" " required>
                                <label class="text-sm font-medium text-gray-700 absolute left-0 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[52%] peer-focus:top-0 peer-focus:text-indigo-500 peer-focus:text-sm" for="driveTime">Drive Time</label>
                            </div>
                        </div>

                        <!--
                            Buttons
                        -->
                        <div class="flex flex-col w-full">
                            <div class="md:flex md:flex-row md:space-x-2">
                                <button class="btn-primary mt-2 w-full" type="button" id="windDown">Wind Down</button>
                                <button class="btn-primary mt-2 w-full" type="button" id="bedtime">Bedtime</button>
                            </div>
                            <div class="md:flex md:flex-row md:space-x-2">
                                <button class="btn-primary mt-2 w-full" type="button" id="wakeUp">Wake Up</button>
                                <button class="btn-primary mt-2 w-full" type="button" id="getReady">Get Ready</button>
                            </div>
                            <div class="md:flex md:flex-row md:space-x-2">
                                <button class="btn-primary mt-2 w-full" type="button" id="drive">Drive</button>
                                <input class="btn-secondary mt-2 w-full" type="reset" value="Clear">
                            </div>
                        </div>
                    </form>
                
                    <div class="mt-10" id="output">
                
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="module" src="/static/js/script.js"></script>
</body>
</html>