<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences | Time Manager</title>
</head>
<body>
    <a href="/profile"><= Back to Profile</a>

    <h1>Time Manager</h1>
    <h2>Preferences</h2>

    <form method="post" action="">
        <label for="prep">Prep Length</label>
        <input type="text" id="prep" name="prep"><br>

        <label for="shower">Shower Length</label>
        <input type="text" id="shower" name="shower"><br>

        <label for="getReady">Get Ready Length</label>
        <input type="text" id="getReady" name="getReady"><br>

        <label for="fluff">Fluff Length</label>
        <input type="text" id="fluff" name="fluff">

        <button type="button" id="preferences">Save Changes</button>
        <button type="button" id="defaultLength">Default Lengths</button>
        <input type="reset" value="Clear">
    </form>
</body>
</html>