<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences | Time Manager</title>
    <!--<link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">-->
</head>
<body>
    <a href="/profile"><= Back to Profile</a>

    <h1>Time Manager</h1>
    <h2>Preferences</h2>

    <form method="post" action="">
        <label for="windDownLength">Wind Down Length</label>
        <input type="text" id="windDownLength" name="windDownLength"><br>

        <label for="sleepLength">Sleep Length</label>
        <input type="text" id="sleepLength" name="sleepLength"><br>

        <label for="prepLength">Prep Length</label>
        <input type="text" id="prepLength" name="prepLength"><br>

        <label for="showerLength">Shower Length</label>
        <input type="text" id="showerLength" name="showerLength"><br>

        <label for="getReadyLength">Get Ready Length</label>
        <input type="text" id="getReadyLength" name="getReadyLength"><br>

        <label for="fluffLength">Fluff Length</label>
        <input type="text" id="fluffLength" name="fluffLength">

        <button type="button" id="preferences">Save Changes</button>
        <button type="button" id="defaultLength">Default Lengths</button>
        <input type="reset" value="Clear">
    </form>

    <script type="module" src="/static/js/script.js"></script>
</body>
</html>