<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Time Manager</title>
</head>
<body>
    <a href="getReady.html"><= Back to Get Ready</a>

    <h1>Time Manager</h1>
    <h2>Profile</h2>

    <a href="preferences.html">Preferences</a>
    <a href="eventHistory.html">Event History</a>
    <a href="index.html">Log Out</a>
</body>
</html>